<div class="row">
  <div class="col-md-4">
    <%= section.components.order(:position).first.content %>
  </div>
  <div class="col-md-4">
    <%= section.components.order(:position).second.content %>
  </div>
  <div class="col-md-4">
    <%= section.components.order(:position).third.content %>
  </div>
</div>