<header class="c-navbar u-mb-medium">
    <button class="c-sidebar-toggle js-sidebar-toggle">
        <span class="c-sidebar-toggle__bar"></span>
        <span class="c-sidebar-toggle__bar"></span>
        <span class="c-sidebar-toggle__bar"></span>
    </button>

    <h2 class="c-navbar__title u-mr-auto">
      <%= @page_title %>
      <% if @page_editor %>
        <button class="btn btn-primary btn-sm" data-behavior="getModal" data-url="<%= update_modal_page_path(@page.id) %>" >Edit</button>
      <% end %>
    </h2>

  <div class="dropdown">
    <a href="#" class="dropdown-toggle" id="drop3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Nutzer <span class="caret"></span> </a>
    <ul class="dropdown-menu" aria-labelledby="drop3" style="left: -77px;">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li> 
      <li role="separator" class="divider"></li> 
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
  
</header>