<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-body">
        <%= if section.components.empty? %>
          <%= render 'shared/new_component_modal' %>
        <% else %>
          <%= render 'shared/edit_component_modal', component: section.components.first %>
        <% end %>
      </div>
    </div>
  </div>
</div>