@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500");

body {
  font-family: Roboto, Open-Sans;
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-family: Roboto, Open-Sans;
  font-weight: 300;
}

.btn {
  font-family: Roboto, Open-Sans;
  font-weight: 300;
}

.ol-onboarding {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ol-onboard-outer-container {
  margin: auto;
  display: flex;
  padding: 0px;
  max-width: 600px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.ol-onboard-image {
  width: 95%;
  max-width: 550px;
  margin: 10px 2.5%;
}

#inner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ol-onboarding h1 {
  font-size: 32px;
  color: #FF9F00;
  letter-spacing: 0.96px;
  line-height: 40px;
  text-align: center;
  margin: 0px 10px 10px 10px;
}

.ol-onboarding p {
  font-size: 20px;
  font-weight: 300;
  color: #FF9F00;
  letter-spacing: 0.96px;
  line-height: 24px;
  text-align: center;
  margin: 0px 10px 20px 10px;
}

.ol-onboarding p:before {
    color: #FF9F00;
    font-family: FontAwesome;
    content: "\f05a";
    font-size: 20px;
    margin-right: 5px;
}

.ol-input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  margin: 0px 5%;
  width: 90%;
  max-width: 500px;
  height: 50px;
  background: #FFFFFF;
  box-shadow: 0 0 4px 1px #0082FF;
  font-size: 24px;
  padding: 0px;
}

.ol-text-input {
    display: table-cell;
    font-family: Roboto, Open-Sans;
    font-weight: 300;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    max-width: 350px;
    margin-bottom: 0;
    padding: 10px 20px;
    font-size: 24px;
    line-height: 30px;
    color: rgba(0,130,255,1);
    letter-spacing: 0.72px;
    border: none;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    cursor: text;
}

.ol-text-input::placeholder {
    color: rgba(0,130,255,0.50);
    letter-spacing: 0.72px;
    font-weight: 300;
}

.ol-btn {
  position: relative;
  z-index: 2;
  width: 150px;
  margin-left: 0px;
  background: #0082FF;
  color: white;
  display: inline-block;
  padding: 10px 12px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
}

.ol-row {
  width: 100%;
  margin-bottom: 20px;
}

.ol-white {
  background: #FFFFFF;
  box-shadow: 0 0 4px 1px #0082FF;
  padding: 10px auto;
  font-size: 24px;
  line-height: 30px;
  color: #0082FF;
  letter-spacing: 0.72px;
  border-radius: 0px;
  height: 50px;
  margin-bottom: 20px;
  width: 100%;
}

.ol-default {
  background: #0082FF;
  box-shadow: 0 0 4px 1px #0082FF;
  padding: 10px auto;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  letter-spacing: 0.72px;
  border-radius: 0px;
  height: 50px;
  margin-bottom: 20px;
  width: 100%;
}

.ol-google {
  background: #dd4b39;
  box-shadow: 0 0 4px 1px #dd4b39;
  padding: 10px auto;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  letter-spacing: 0.72px;
  border-radius: 0px;
  height: 50px;
  margin-bottom: 20px;
  width: 100%;
}

.ol-default:hover, .ol-default:focus {
  color: #FFFFFF;
  box-shadow: 0 0 6px 2px #0082FF;
}

.ol-white:hover, .ol-white:focus {
  color: #0082FF;
  box-shadow: 0 0 6px 2px #0082FF;
}

.ol-google:hover, .ol-google:focus {
  color: #dd4b39;
  box-shadow: 0 0 6px 2px #dd4b39;
}

input[type="radio"] {
  display: none;
  &:not(:disabled) ~ label {
    cursor: pointer;
  }
  &:disabled ~ label {
    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);
    box-shadow: none;
    cursor: not-allowed;
  }
}
.radio {
  display: block;
  background: white;
  font-weight: 300;
  font-size: 20px;
  border: none;
  border-radius: 0px;
  padding-top: 45px;
  padding-bottom: 45px;
  margin-bottom: 1rem;
  text-align: center;
  box-shadow: 0 0 4px 1px #F2F2F2;
  position: relative;
  color: #FF9F00;
}
input[type="radio"]:checked + .radio {
  color: #FF9F00;
  box-shadow: 0px 0px 20px #FF9F00;
  
}
p {
  font-weight: 900;
}

/*normalize slider styling */
.am-slider {
	-webkit-appearance: none;
	width: 100%;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.am-slider:focus {
	outline: none;
}


/*Chrome reset*/
.am-slider::-webkit-slider-runnable-track {
	width: 100%;
	height: 10px;
  border-radius: 5px;
	background: #F2F2F2;
}

.am-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	top: -20px;
	position: relative;
	opacity: 0;
}


/*Firfox reset*/
.am-slider::-moz-range-track {
	width: 100%;
	height: 10px;
	background: #DDDDDD;
}

.am-slider::-moz-range-thumb {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	opacity: 0;
}


/*IE reset*/
.am-slider::-ms-track {
	width: 100%;
	height: 20px;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

.am-slider::-ms-fill-lower {
	background: #DDDDDD;
	height: 3px;
}

.am-slider::-ms-fill-upper {
	background: #DDDDDD;
	height: 3px;
}

.am-slider::-ms-thumb {
	height: 50px;
	width: 50px;
	opacity: 0;
}

.am-slider::-ms-tooltip {
	display: none;
}
/****normalize styling end****/


/*slider thumb styling-*/
.am-thumb {
	width: 35px;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	border-radius: 50%;
	color: #FFFFFF;
	background-color: #FF9F00;
	text-align: center;
	position: relative;
	cursor: pointer;
	display: inline-block;
	top: 26px;
}
/****slider thumb styling end-****/


/*slider tooltip styling*/
/*normal state*/
.am-tooltip {
	display: none;
}

/*active state*/
.am-tooltip-active-state {
	background-color: #444A4A;
	color: #FFFFFF;
	width: 50px;
	height: 40px;
	line-height: 40px;
	border-radius: 7px;
	text-align: center;
	position: absolute;
	display: block;
}


/****slider tooltip styling end****/
.ol-slider {
	width: 90%;
	margin: 10px auto 30px auto;
}

@media only screen and (max-width: 700px) {
  section {
    flex-direction: column;
  }
}


@media only screen and (max-width: 600px) {
  .ol-onboarding-h1 {
    font-size: 24px;
    line-height: 32px;
  }
  
  .ol-input-group {
    height: 40px;
    line-height: 20px;
  }
  
  .ol-btn {
    width: 90px;
    font-size: 16px;
    line-height: 20px;
  }
  
  .ol-text-input {
    font-size: 16px;
    height: 40px;
  }
  
  .ol-white {
    font-size: 16px;
    line-height: 20px;
    height: 40px;
  }
  
  .ol-default {
    font-size: 16px;
    line-height: 20px;
    height: 40px;
  }
}

.workingBusinssDay {
    border: 2px solid #FF9F00;
    background-color: #FF9F00;
}

.dayOff {
    border: 2px solid #cd3804;
    background-color: #dd4814;
}

div h3 {
    padding-top: 20px;
}

.clean {
    clear: both;
}

.dayContainer {
    line-height: 20px;
    margin-right: 8px;
    width: 65px;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 5px;
}

.colorBox {
    cursor: pointer;
    height: 45px;
    border: 2px solid #888;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.colorBox.WorkingDayState {
    border: 2px solid #4E8059;
    background-color: #8ade8f;
}

.colorBox.RestDayState {
    border: 2px solid #7a1c44;
    background-color: #de5962;
}

.operationTime .mini-time {
    width: 40px;
    padding: 3px;
    font-size: 12px;
    font-weight: normal;
}

.dayContainer .add-on {
    padding: 4px 2px;
}

.colorBoxLabel {
    clear: both;
    font-size: 12px;
    font-weight: bold;
}

.invisible {
    visibility: hidden;
}

.operationTime {
    margin-top: 5px;
}

#businessHoursContainer {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 95%;
  margin: 0 2.5% 10px 2.5%;
}

.spinner {
  margin: 0px auto;
  width: 40px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}