<!DOCTYPE html>
<html>
<head>
  <title>Datenverarbeitung</title>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
    
   div.header {
      display: block; 
      text-align: center; 
      position: running(header);
      width: 100%;
    }
    
    .input:before {
        display: inline-block;
        content: '';
        width: 100%;
        height: 50px;
        border: none;
        border-bottom: 2px dotted black;
      }
    .half {
      width: 44%;
      margin-right: 4%;
      display: inline-block;
    }
    
    .third {
      width: 30%;
      margin-right: 2%;
      display: inline-block;
    }
    
    div.footer {
      display: block; 
      text-align: center; 
      position: running(footer);
      width: 100%;
    } 
    h1,h2,h3,h4,h6 { 
      page-break-after: avoid;
      font-weight: 600;
    }
    
    p,li,a {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
    }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>